<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <a class="navbar-brand ps-4">E-commerce</a>
    <ul class="navbar-nav mr-auto align-items-center">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/carrito">
                <button type="button" class="btn position-relative">
                    <img src="https://curso-37545-proyecto.vercel.app/media/cart.png" alt="Cart" style="width: 24px;">
                </button>
            </a>
        </li>
    </ul>
</nav>