<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ms-2" href="/">F&V Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center text-md-start justify-content-end" id="navbarNav">
            <ul class="navbar-nav me-auto me-lg-0 align-items-center">
                <li class="nav-item ms-2"><a class="nav-link" href="/productos/category/Fruta">Frutas</a></li>
                <li class="nav-item ms-2"><a class="nav-link" href="/productos/category/Verdura">Verduras</a></li>
                <li class="nav-item ms-2"><a class="nav-link text-primary" href="/chat">Chat</a></li>
                <li class="nav-item ms-2"><a class="nav-link" href="/carrito"><button type="button" class="btn position-relative"><img src="https://curso-37545-proyecto.vercel.app/media/cart.png" alt="Cart" style="width: 24px;"></button></a></li>
            </ul>
        </div>
    </div>
</nav>